html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: black;
  color: white;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.top {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.middle {
  border-radius: 0;
  margin-bottom: 10px;
}

.bottom {
  color: #dd4145;
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.heading {
  width: 40rem;
  margin-left: -10.6rem;
  margin-bottom: 1.2rem;
  text-align: center;
}

.lower {
  width: 100%;
  margin-top: 32%;
  position: absolute;
  z-index: -1;
}

.copy {
  font-size: 1.3em;
  margin-bottom: 4em;
}
.button {
  margin-top: 1.2rem;
  border-radius: 2rem;
  clip-path: circle(20% at 0 0);
  transition: all 1s;
}
.button:hover {
  clip-path: circle(75%);
}

/* media screen */

@media screen and (max-width: 600px) {
  .lower {
    position: absolute;
    top: 73%;
  }
  .heading {
    width: 100%;
    margin-left: 0;
  }
  .button {
    margin-top: 2rem;
    border-radius: 2rem;
    clip-path: circle(50% at 0 0);
    transition: all 1s ease-in-out;
  }
  .button:hover {
    clip-path: circle(75%);
  }
}
